*.synctex
*.pyg
*.log
*.brf
*.aux
*.bbl
*.blg
*.out
*.upa
*.upb
*.bcf
*.run.xml
*.pdf
*.xcf
*.dvi
*.glo
*.glg
*.gls
*.glsdefs
*.ilg
*.ind
*.ist
*.toc
*.xdy
*.pyc
*.lox
*.lot
*.lof
*.fls
*.fdb_latexmk

figures/*
figures[1-9]/*
figures[A-Z]/*
_oldfigures

lat.bib
latexSuiteTemp0.tex

test_times.txt
temp_out_figure.tex
old_challenge_figures.tex

timeings.txt
My Library.bib
